<div class="container-fluid">
  <div class="row"> 
    <div class="col-12">
      <!--menu Bar-->
      <div class="bs-example">
          <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
            
              <img src="assets/image/food1.png" href="#page-top" width="50px" height="30px">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                  <div class="navbar-nav ml-auto">
                      <li class="hidden">
                          <a href="#page-top"></a>
                      </li>
                    
                      <a href="#" class="nav-item nav-link underline-menu active ">Home</a>
                      <a href="#" class="nav-item nav-link underline-menu  ">The Menu</a>
                      <a href="#" class="nav-item nav-link underline-menu ">About Us</a>
                      <a href="#" class="nav-item nav-link underline-menu ">Vendor</a>
                      <a href="#" class="nav-item nav-link underline-menu  ">Why Swad</a>
                      <a href="#" class="nav-item nav-link underline-menu  ">Online Order</a>
                    
                  </div>
              </div>
            </nav>
      </div>

    </div>
  </div>
</div>
