                      <div class="example">
                          <div class="container">
                            <div class="row justify-content-center">
                              <img src="assets/image/user.png" class="bg">
                              <form class="form-container">
                                <h3 class="text-center font-eight-bold">Dilivery Details</h3>
                                <div class="form-row">
                                  <div class="col-md-6 mb-3">
                                    <label for=vname>Full Name</label>
                                    <input type="text" class="form-control" id="vname" placeholder="Enter Name" required >
                                  </div>
                                  <div class="col-md-6 mb-3">
                                    <label for=vemail>Email</label>
                                    <input type="email" class="form-control" id="vemail" placeholder="Enter email" required >
                                  </div>
                                  <div class="col-md-6 mb-3">
                                    <label for=vcontact>Contact Number</label>
                                   
                                    <input type="tel" name="phone" class="form-control" id="vcontact" placeholder="Enter Contact Number" required >
                                 </div>
                                
                                  <div class="col-md-6 mb-3">
                                    <label for=vaddress>Address</label>
                                    <input type="tel" class="form-control" id="vaddress" placeholder="Enter Address" required >
                                  </div>
                                  
                                  <div class="col-md-6 mb-3">
                                      <label for=vlocality>Locality</label>
                                      <input type="tel" class="form-control" id="vlocality" placeholder="Enter Locality" required >
                                    </div>
                                  <div class="col-md-6 mb-3">
                                    <label for=vcity>City</label>
                                    <input type="text" class="form-control" id="vcity" placeholder="City" required >
                                  </div>
                                  <div class="col-md-6 mb-3">
                                    <label for=vstate>State</label>
                                    <input type="text" class="form-control" id="vstate" placeholder="State" required >
                                  </div>
                                  <div class="col-md-6 mb-3">
                                      <label for=vpincode>Pincode</label>
                                      <input type="text" class="form-control" id="vpincode" placeholder="Pincode" required >
                                    </div>
                                    
                                     <button routerLink='/Next' type="submit" class="btn btn-primary btn-block">Next</button>
                                      
                                </div>
                              
            
                              </form>
                            </div>
                          </div>
                        </div>
                      
                
