<div class="container-fluid" >
  <div class="row">
    <div class="col-12 box-padding bg-color" style="padding: 30px">
      <div class="text-center">
        <h2>Become Our Partner</h2>
        <p>Join our company to become tiffilo chefs. If there's some kind of magic in your hands. And a meal cooked
          by you always makes the person happy eating it. Would you like to be an tiffilo vendor partner.</p>
        <a routerLink='/Join As Vendor' class="btn btn-lg btn-default text-center">Join As Vendor</a>
      </div>
    </div>
  </div>
</div>
