.section-heading-title
{
    font-style:italic;
    font-weight: bold;
    text-align: center;
    color:#C0392B ;
    margin-top: 10vh;
    
}
.section-heading-subtitle
{
font-style: italic;
text-align: center;
margin-bottom: 20vh;
}
.text{
    text-align: justify;
    margin-left: 30px;
    
    font-style: italic;
    font-weight: bolder;
}
.feed{

    color:#F7DC3F;
    font-weight: bolder;
    margin-left: 30px;
}
