<div class="example">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <img src="assets/image/user.png" class="bg">
        <form class="form-container">
          <h3 class="text-center font-eight-bold">Order Details</h3>
          
          <span><kbd>Order Time: Lunch before 1:30PM / Dinner before 10:00PM</kbd></span>
          <div class="push">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Meal Preference</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01" required >
                    <option selected>Choose...</option>
                    <option value="1">Standard meal</option>
                    <option value="2">Mini meal</option>
                  </select>
                  </div>
              
                <div class="pop">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Subscription Period</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" required >
                      <option selected>Choose...</option>
                      <option value="1">1 Day</option>
                      <option value="2">2 Days</option>
                      <option value="3">3 Days</option>
                      <option value="4">1 Week</option>
                      <option value="5">2 Weeks</option>
                      <option value="6">3 Weeks</option>
                      <option value="7">1 Month</option>
                      <option value="8">2 Months</option>
                    </select>
                    </div>
                    </div>
                
                
                       <div class="pep">
                      <div class="input-group">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Select Meal Time</label>
                          </div>
                          <select class="custom-select" id="inputGroupSelect01" required >
                            <option selected>Choose...</option>
                            <option value="1">Lunch</option>
                            <option value="2">Dinner</option>
                            <option value="3">Both</option>
                          </select>
                          </div>
                          </div>
                      
                      <div class="pus">
                      <div class="input-group">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Quantity</label>
                          </div>
                          <select class="custom-select" id="inputGroupSelect01" required >
                            <option selected>Choose...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                          </select>
                          </div>
                          </div>
                        <br />

                        <button routerLink='/Order Now' type="submit" class="btn btn-primary btn-block">Order Now</button>
            </div>
            </form>
            </div>
            </div>
            </div>
            
    
                        
                  