<div class="example">
  <div class="container">
    <div class="row justify-content-center">
      <img src="assets/image/user.png" class="bg">
      <form class="form-container">
        <h3 class="text-center font-eight-bold">Vendor Register</h3>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for=vname>Name</label>
            <input type="text" class="form-control" id="vname" placeholder="Enter Name" required >
          </div>
          <div class="col-md-6 mb-3">
            <label for=vemail>Email</label>
            <input type="email" class="form-control" id="vemail" placeholder="Enter email" required >
          </div>
          <div class="col-md-6 mb-3">
            <label for=vcontact>Contact Number</label>
            <input type="tel" name="phone" class="form-control" id="vcontact" placeholder="Enter Contact Number" required >
          </div>
          <div class="col-md-6 mb-3">
            <label for=vaddress>Address</label>
            <input type="tel" class="form-control" id="vaddress" placeholder="Enter Address" required >
          </div>
          <div class="col-md-6 mb-3">
            <label for=vtiffin>Tiffin Capacity Per Day</label>
            <input type="number" class="form-control" id="vtiffin" placeholder="No. of Tiffins" required >
          </div>
          <div class="col-md-6 mb-3">
            <label for=vmassage>Massage</label>
            <input type="text" class="form-control" id="vmassage" required >
          </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary btn-block">Send</button>
      </form>
    </div>
  </div>
</div>