.carousel-item img 
{
    height:580px;
    width:100%;
}
.carousel-caption
{
    padding-bottom:180px;
    font-family:poppins;
    

}
.carousel-caption h2
{
    
    font-size:40px;
    font-weight:bold;
}
.carousel-caption h2 span
{
    
    color:#F7DC6F;
}
.carousel-caption a
{
    background:#C0392B;
    padding: 15px 35px;
    display: inline-block;
    margin-top: 15px;
    color:#fff;
    border-radius: 25px;
}