<div class="container " > 
  <header class="section-heading">
    <h1 class="section-heading-title">Why Swad</h1>
      <div class="section-heading-subtitle">
          <h4>Learn more about our meal options</h4>
        </div>
  </header>
  <div class="row" >
   
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="tiffenSection">
						<div class="media-heading tiffensectionimages scrollpoint " width="150px">
							<img src="assets/image/1.png" alt="HTML5 Icon" style="height:120px;" class="ghar_khanaimg">
				    </div>
            <div class="tiffensectionimages media-body">
							<h2 class="scrollpoint txt_widts f-size26 font-size28"><b><font class="color-class-4">Ghar ka
								Khana</font></b></h2>
							<p class="scrollpoint fsize16 mleft20 font-size15"><font class="color-class-3">Delicious Home Style food with minimal oil /
								masalas</font></p>
						</div>
         </div>
    </div>
    <div class="tiffenSections">
        <div class="tiffensectionimages" width="150px">
          <img src="assets/image/2.png" alt="HTML5 Icon" style="height:100px;" class="ghar_khanaimg">
        </div>
        <div class="tiffensectionimages">
          <h2 class="text-left txt_widts1 font-size28"><b><font class="color-class-4">Amazing variety</font></b>
          </h2>
          <p class="fsize16 mleft20 font-size15"><font class="color-class-3">You will love the variety coz at SpiceBox - No dish is
            repeated All Month!!</font></p>
        </div>
      </div>  
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
      <div class="tiffenSection">
          <div class="tiffensectionimages" width="150px">
            <img src="assets/image/3.png" alt="HTML5 Icon" style="height:120px;" class="ghar_khanaimg">
          </div>
          <div class="tiffensectionimages">
            <h2 class="txt_widts font-size28"><b><font class="color-class-4">Easy Ordering</font></b></h2>
            <p class="fsize16 mleft20 font-size15"><font class="color-class-3">Ordering your meal on the SpiceBox! Website will take
              less than 2 mins!!</font></p>
          </div>
      </div>
      <div class="tiffenSection ">
          <div class="tiffensectionimages" width="150px">
              <img src="assets/image/4.png" alt="HTML5 Icon" style="height:100px;" class="short_trailimg">
          </div>
          <div class="tiffensectionimages">
            <h2 class="txt_widts font-size28"><b><font class="color-class-4">Short Trial</font></b>
            </h2>
            <p class=" fsize16 mleft20 font-size15"><font class="color-class-3">You can try the delicious SpiceBox! meals
              for 1 week to know what every one is craving about!</font></p>
          </div>
          
      </div>
    </div> 
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
      <div class="tiffenSection ">
          <div class="tiffensectionimages" width="150px">
							<img src="assets/image/5.png" alt="HTML5 Icon" style="height:100px;" class="short_trailimg">
					</div>
					<div class="tiffensectionimages">
						<h2 class="text-left txt_widts1 font-size28"><b><font class="color-class-4">Simple Cancellation
								System</font></b></h2>
						<p class="text-left fsize16 font-size15"><font class="color-class-3">Cancelling your meal will take seconds &amp;
								a credit for cancelled meal will be provided to your wallet</font></p>
					</div>
					
        </div>
				<div class="tiffenSection ">
            <div class="tiffensectionimages" width="150px">
                <img src="assets/image/6.png" alt="HTML5 Icon" style="height:120px;" class="short_trailimg">
              </div>
					<div class="tiffensectionimages">
						<h2 class="text-left txt_widts1 font-size28"><b><font class="color-class-4">My Account
								</font></b></h2>
						<p class="text-left fsize16 font-size15"><font class="color-class-3">Manage your orders - Cancellations, Order
								Renewals, Shares etc within seconds</font></p>
					</div>
					
        </div>
   
	</div>
</div>
