<div class="container-fluid" >
  <div class="row">
    <div class="col-12">
      <div class="meal">
         <h1>Our Meal Plan</h1>
         <p><span>See what is included in the Meals</span></p>
      </div>
      <div class="row">
        <div class="col-6">   
         <img src="assets/image/p1.png" width="100%" height="100%" >
        </div>
        <div class="col-6">
            <img src="assets/image/p2.png" width="100%" height="100%" >
        </div>
         <button type="button" class="btn btn-lg" routerLink="/PLACE ORDER">PLACE ORDER</button>
      </div>
     </div>
  </div>
</div>